<div class="col-sm-4 col-sm-offset-1">
  <h3>Most <span class="red">Popular</span></h3>
  <div class="popular">
    <ul>
      <li ng-repeat="topLink in topLinks">
        {{ topLink.title }} has {{ topLink.upvotes }} upvotes!
      </li>
    </ul>
  </div>
  <img src="http://placehold.it/400x400" alt="">
</div>

<div class="col-sm-4 col-sm-offset-1">
  <h3>Most <span class="red">Recent</span></h3>
  <div class="recent">
    <ul>
      <li ng-repeat="recentLink in recentLinks">
        {{ recentLink.title }} was uploaded on {{ recentLink.created }}
      </li>
    </ul>
  </div>
  <img src="http://placehold.it/400x400" alt="">
</div>
